* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

header {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 3px;

    nav {
        a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
        }
    }

    .logo {
        float: left;
    }

    nav {
        float: right;

        ul {
            list-style: none;

            li {
                margin-top: 15px;
                display: inline-block;
                padding: 30px;

                a {
                    text-transform: uppercase;
                    font-size: 20px;
                    color: #a10100;
                }

                a:hover {
                    color: #E88213;
                }
            }
        }

    }
}

.logo img {
    max-height: 90px;
    width: auto;
    display: block;
}

.banner {
    background: #a10100;
    text-align: center;
    padding: 40px 0px;
}

.banner h2 {
    margin-bottom: 30px;
    color: white;

    a:hover {
        color: #E88213;
    }
}

.imagem {
    width: 100%;
    margin: 0;
    padding: 0;
}

.imagem img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}

.imagem .botao {
    position: absolute;
    bottom: -37%;
    left: 50%;
    transform: translateX(-50%);
    padding: 24px 60px;
    background-color: #a10100;
    color: white;
    font-size: 22px;
    border: 4px solid white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    transition: background 0.3s;
}

.imagem .botao:hover {
    background-color: #E88213;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: white;
}

.texto h2 {
    text-align: center;
    font-size: 28px;
    width: 100%;
    color: white;
    margin-bottom: 20px;
    padding: 25px 0;

}

.botaopr {
    text-decoration: none;
    color: white;

}

.logocontato img {
    width: 200px;
    display: block;
    background-color: #a10100;
}

.ovo img {
    width: 200px;
    display: block;
    background-color: #a10100;
}

.ovo {
    margin-right: 100px;
}

.topo-vermelho {
    background: #a10100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logocontato {
    margin-left: 100px;
}

.topo-vermelho h1 {
    color: white;
    font-size: 40px;
    margin-right: 80x;
    text-align: center;
}

.contato-opcoes {
    display: flex;
    justify-content: space-around;
    padding: 90px 40px;
}

.opcao {
    text-align: center;
    width: 250px;
    color: #333;
}

.opcao p {
    text-align: center;
    width: 250px;
    color: #333;
}

.opcao strong {
    text-align: center;
    width: 250px;
    color: black
}

.opcao i {
    font-size: 30px;
    margin-bottom: 10px;
    color: #a10100;
}

.opcao h3,
.opcao p,
.opcao strong {
    margin: 5px 0;
}

.bannercg {
    background: #a10100;
    text-align: center;
    padding: 40px 0 0 0;

    h2 {
        color: white;
    }
}

.imagemcg {
    border-radius: 30px;
    margin-top: 30px;
    width: 980px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;
}

.card img {
    display: flex;
    width: 280px;
    padding: 10px;
    background: #fff;
    border-radius: 20px;
    margin-top: 30px;
}

.botaocg {
    display: inline-block;
    position: relative;
    top: -60px;
    padding: 10px 30px;
    background-color: #a10100;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}

.botaocg:hover {
    background-color: #E88213;
}

footer {
    text-align: center;
    background-color: #fff;
    padding: 30px 0;
    font-size: 18px;
    color: black;

}

footer p {
    margin-top: -6px;
}

footer i {
    color: #a10100;
}

.sobre {
    color: white;
    background-color: #a10100;
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardsimg {
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}

.cardimg img {
    width: 400px;
    border-radius: 20px;
    margin-top: 10px;
}

main {
    background-color: #a10100;
    padding-bottom: 60px;
}

.sobre1 {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.sobre1 p {
    text-align: justify;
    flex: 1;
    line-height: 1.6;
}

.sobre1 img {
    width: 300px;
    border-radius: 15px;
    object-fit: cover;
}

.sobresec {
    background-color: white;
    border-radius: 20px;
    max-width: 900px;
    margin: 5px auto;
    padding: 30px;
}

.texto h3 {
    margin-bottom: 8px;
}

.texto p {
    margin-top: 0;
}

.sobre1 {
    margin-bottom: 30px;
}

.sobre1 {
    gap: 40px;
}

.info-jogo {
    background-color: white;
    border-radius: 20px;
    max-width: 900px;
    margin: 15px auto;
    padding: 30px;
    display: flex;
    flex-direction: column; 
    align-items: center;   
}
    

.infos{
    text-align: center;
    font-size: 20px;
}
.botaosobre {
   margin-left: 55px;
    padding: 10px 30px;
    background-color: #a10100;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}
.botaosobre:hover {
    background-color: #E88213;
}

.header-menu {
    display: none;
}

#titulo-site {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.inimigos {
    width: 300px;
    display: block;
    margin: 20px auto;
}

@media (max-width: 768px) {
    .header-menu {
        display: block;
        float: right;
        margin: 10px;
        color: white;
        border: 1px solid #a10100;
        font-size: 16px;
        background-color: #a10100;
        border-radius: 50%;
        padding: 10px;
    }

    #menu {
        background-color: white;
        width: 320px;
        padding: 10px;
    }

    #menu a {
        color: #a10100;
    }

    .imagem .botao {
        display: none;
    }
    .sobre1 {
        display: inline-block;
    }

    .sobresec {
        max-width: 300px;
    }

    .imagemcg {
        display: none;
    }

    header nav ul li {
        display: block;
        padding: 15px;
        margin: auto;
    }
    .logocontato{
        display: none;
    }

    .topo-vermelho h1{
        font-size: 20px;
        margin-left: 40px;
    }

    .contato-opcoes{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }

    .opcao{
        padding: 15px;
    }
    .ovo img{
        margin-left: 20px;
    }
    .logo img {
        width: 100%;
        margin-left: 8px;
    }
    .info-jogo{
        width: 300px;
    }
}
